{% extends "librarian/librarian_layout.html" %}

{% block content %}
<h2>Search / Filter Manuscripts</h2>

<form method="GET">
    <select name="filter">
        <option value="title" {% if filter_by=='title' %}selected{% endif %}>Title</option>
        <option value="author" {% if filter_by=='author' %}selected{% endif %}>Author</option>
        <option value="university" {% if filter_by=='university' %}selected{% endif %}>University</option>
    </select>
    <input type="text" name="keyword" placeholder="Enter keyword" value="{{ keyword }}">
    <button type="submit" class="update-btn">Search</button>
</form>

<br>

<table class="admin-table">
    <tr>
        <th>Book ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>University</th>
        <th>Department</th>
        <th>Year</th>
        <th>Actions</th>
    </tr>
    {% for b in books %}
    <tr>
        <td>{{ b[0] }}</td>
        <td>{{ b[1] }}</td>
        <td>{{ b[2] }}</td>
        <td>{{ b[3] }}</td>
        <td>{{ b[4] }}</td>
        <td>{{ b[5] }}</td>
        <td>
            <a href="{{ url_for('librarian.view_book', book_id=b[0]) }}" class="update-btn">View PDF</a>
            <form action="{{ url_for('librarian.delete_book', book_id=b[0]) }}" method="POST" style="display:inline-block;">
                <button type="submit" class="delete-btn" onclick="return confirm('Are you sure?')">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
