body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    display: flex;
}

.sidebar {
    width: 220px;
    background: #2c3e50;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
}

.sidebar h2 {
    margin: 0 0 20px;
    font-size: 30px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    margin: 5px 0;
}

.sidebar a:hover {
    background: #34495e;
}

.sidebar a.active {
    background: #3d566e;
    font-weight: bold;
    border-left: 4px solid #1abc9c;
    padding-left: 6px;
    border-radius: 6px;
}


.bottom-links {
    position: absolute;
    bottom: 20px;
    width: 180px;
}

.exit {
    color: #ff6b6b;
}

.main {
    margin-left: 220px;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    background-color: #5c7186;
}

table {
    width: 90%;
    border-collapse: separate;
    border-spacing: 0;
    background: white;
    border-radius: 12px;
    overflow: hidden;          /* ensures rounded corners apply to rows */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

th {
    background: #2c3e50;
    color: white;
    padding: 14px;
    text-align: left;
    font-size: 15px;
}

td {
    padding: 12px;
    font-size: 15px;
    border-bottom: 1px solid #b9b9b9;
}

/* Remove last row line */
tr:last-child td {
    border-bottom: none;
}

/* Row hover effect */
tr:hover {
    background-color: #dcdcdc;
}

/* Alternating row background */
tr:nth-child(even && odd) {
    background-color: #fafafa;
}

/* Search Form Container */
.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

/* Dropdown + Input */
.search-box select,
.search-box input {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

/* On Focus */
.search-box input:focus,
.search-box select:focus {
    border-color: #2c3e50;
    box-shadow: 0 0 4px rgba(44, 62, 80, 0.5);
}

/* Search Button */
.search-box button {
    padding: 10px 18px;
    background: #2c3e50;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.search-box button:hover {
    background: #1a252f;
}

.search-box button:active {
    transform: scale(0.97);
}
