<!DOCTYPE html>
<html>
<head>
    <title>Book System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='settings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_profile.css') }}">

</head>
<body>

<div class="sidebar">
    <h2>UniArchive</h2>
    <a href="/" class="{% if request.path == '/' %}active{% endif %}">Search</a>
    <a href="{{ url_for('user_library.my_library') }}"
    class="{% if request.path == url_for('user_library.my_library') %}active{% endif %}">
        Your Library
    </a>
    <div class="bottom-links">
        <a href="/profile" class="{% if request.path == '/profile' %}active{% endif %}">Profile</a>
        <a href="/settings" class="{% if request.path == '/settings' %}active{% endif %}">Settings</a>
       <!--<a href="{{ url_for('auth.logout') }}" class="exit">Logout</a> --> 
    </div>
</div>

<div class="main">
    {% block content %}{% endblock %}
</div>

</body>
</html>
